@inherits TestComponentBase

<SnapshotTest Description="Verifies the correct markup of the Game component."
			  Timeout="TimeSpan.FromSeconds(2)"
			  Setup="Setup">
	<TestInput>
		<Game />
	</TestInput>
	<ExpectedOutput>
		<div id="f0-game">
			<Minefield Options="@TestMinefieldOptions" />
		</div>
	</ExpectedOutput>

	@code {
		private MinefieldOptions TestMinefieldOptions = new (10, 10, 2, MinefieldFirstUncoverBehavior.MayYieldMine, LocationShuffler.GuidLocationShuffler);

		private void Setup(SnapshotTest test)
		{
			Mock<IMinefieldFactory> minefieldFactory = new (MockBehavior.Strict);
			Mock<IMinefield> minefield = new (MockBehavior.Strict);
			Mock<ICellStatusManager> statusManager = new (MockBehavior.Strict);

			minefieldFactory.Setup(factory => factory.Create(It.Is<MinefieldOptions>(options => options == TestMinefieldOptions))).Returns(minefield.Object);

			test.Services.AddSingleton(minefieldFactory.Object);
			test.Services.AddSingleton(statusManager.Object);
		}
	}
</SnapshotTest>
