@inherits TestComponentBase

<SnapshotTest Description="Verifies the correct Markup of the Help component."
					Timeout="TimeSpan.FromSeconds(2)">
	<TestInput>
		<Help />
	</TestInput>
	<ExpectedOutput>
		<div>
			<h3 diff:ignore="true" />
			<p diff:ignore="true" />
			<p diff:ignore="true" />
		</div>
	</ExpectedOutput>
</SnapshotTest>
