<h3>Minefield</h3>

@if (isValidSize)
{
<table>
	@for (uint currentWidth = 0; currentWidth < @Size.Width; currentWidth++)
	{
		<tr>
			@for (uint currentHeight = 0; currentHeight < @Size.Height; currentHeight++)
			{
				var location = new Location(currentWidth, currentHeight);
				<td>
					<Cell Location="location" />
				</td>
			}
		</tr>
	}
</table>
}
else
{
	<label>Minesweeper is played on a Minefield and not within a black hole! Provide a valid size!</label>
}
