<div>
	<h3>Minefield</h3>

	@if (isValidSize)
	{
		<table>
			@for (uint currentWidth = 0; currentWidth < Options.Width; currentWidth++)
			{
				<tr>
					@for (uint currentHeight = 0; currentHeight < Options.Height; currentHeight++)
					{
						var location = new Location(currentWidth, currentHeight);
						<td>
							<Cell Location="location" @ref="cell" />
						</td>
					}
				</tr>
			}
		</table>
	}
	else
	{
		<label>Minesweeper is played on a Minefield and not within a black hole! Provide a valid size!</label>
	}
</div>
