@page "/help"

<div>
	<h3>So, what is Minesweeper and how do I play it?</h3>
	<p>Minesweeper is a game where you have to clear a minefield with hidden mines by uncovering the spaces on it and using clues to not hit a mine and blow up.</p>
    <p>If you uncover a cell that was safe, you get a number how many mines are placed in the cells around the one you just uncovered.</p>
    <p>Does the cell you uncovered have no mines around itself, then those cells will also be uncovered automatically.</p>
    <p>You can place flags on covered cells if you suspect that there is a mine hidden underneath.</p>
    <p>The game is won if all the covered cells left are the ones with mines left.</p>
    <figure>
    <img src="images/Uncovered_One.png" alt="Minefield with one cell uncovered" />
    <figcaption>Minefield with one cell uncovered. The "1" indicates that there is one mine in one of the adjacent cells (here marked in red).</figcaption>
    </figure>
</div>
