<div id="F0-navigationmenu">
	<NavigationMenuItem href="game">Game</NavigationMenuItem>
	<NavigationMenuItem href="help">Help</NavigationMenuItem>

	@*
		this works as well so we should decide which version we prefer
	<div class="F0-navigationmenuitem"><NavLink href="game">Game</NavLink></div>
	<div class="F0-navigationmenuitem"><NavLink href="help">Help</NavLink></div>*@

	@*
		this does unfortunately not work at all
	<NavLink href="game" class="F0-navigationmenuitem">Game</NavLink>
	<NavLink href="help" class="F0-navigationmenuitem">Help</NavLink>*@
</div>
