<div id="F0-navigationmenu">
	<NavigationMenuItem href="game">Game</NavigationMenuItem>
	<NavigationMenuItem href="help">Help</NavigationMenuItem>

	@*<NavLink href="game" class="F0-navigationmenuitem">Game</NavLink>
	<NavLink href="help" class="F0-navigationmenuitem">Help</NavLink>*@
</div>
