@inherits TestComponentBase

<SnapshotTest Description="Verifies the correct Markup of the Footer component."
					Timeout="TimeSpan.FromSeconds(2)">
	<TestInput>
		<Footer />
	</TestInput>
	<ExpectedOutput>
		<footer id="f0-footer">
            <hr />
            <span diff:ignore />
            <a href="https://github.com/Flash0ver/F0.Minesweeper" target="_blank">
                Github
            </a>
        </footer>
	</ExpectedOutput>
</SnapshotTest>
