@inherits TestComponentBase

<SnapshotTest Description="Verifies the correct Markup of the NavigationMenuItem component."
					Timeout="TimeSpan.FromSeconds(2)">
	<TestInput>
		<NavigationMenuItem href="game">
            Game
        </NavigationMenuItem>
	</TestInput>
	<ExpectedOutput>
		<div id="F0-navigationmenuitem">
	        <NavLink ActiveClass="F0-navigationmenuitem-active" href="game">
                Game
            </NavLink>
        </div>
	</ExpectedOutput>
</SnapshotTest>
